.idea
**/.DS_Store
*/xcuserdata/
xcuserdata/
**.xcuserstate
*.xcworkspace
Pods

## Xcode per-user config
*.mode1
*.mode1v3
*.mode2v3
*.perspective
*.perspectivev3
*.pbxuser

## Xcode Patch
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
!*.xcworkspace/contents.xcworkspacedata
/*.gcno

## Build products
build/
*.o
*.LinkFileList
*.hmap

## Automatic backup files
*~.nib/
*.swp
*~
*.dat
*.dep

